
@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
header,main,article,footer{display:block}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#ebefee}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:'Apple SD Gothic Neo', AppleGothic, NanumGothic, 나눔고딕, Helvetica, Arial, sans-serif;color:#000;letter-spacing:-1px} /* color값은 디자인가이드에 맞게사용 */
a{color:#15b7ab;text-decoration:none}
a:active,a:hover{text-decoration:none}
/* a:active {background-color:transparent} */
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* global */
#dkIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0} /* 스킵네비게이션 */
.ir_pm{display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */

.f_l{float:left}
.f_r{float:right}
.cl_b{clear:both;width:0;height:0;font-size:0;line-height:0}
.show{display:block}
.hide{display:none}
.tbl{border-collapse:collapse;border-spacing:0} /* 테이블 초기화 */
.clear_g{display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
.screen_hide{overflow:hidden;width:1px;height:0.1px;font-size:0;line-height:0;text-indent:-9999px}
.txt_bar{padding:0 10px;color:#c4c3c3}

/* layout */
#dkWrap{float:left;position:relative;min-width:100%;height:100%}
#cMain{position:relative;width:1241px;margin:0 auto;border:1px solid #e0e2e2;border-top:0 none;background-color:#fff}
#mFeature{position:absolute;z-index:10;width:130px;background-color:#fff}
.path_admin #mArticle{width:1110px;min-height:510px;margin-left:130px;border-left:1px solid #e9eaea}
/* #mFeature.fiexd_top{position:fixed;top:0}
#mFeature.fiexd_bottom{position:fixed;bottom:142px} */

/* header */
#dkHead{width:100%;background-color:#323138}
#dkHead .inner_head{overflow:hidden;width:1241px;height:60px;margin:0 auto}
.inner_head .tit{float:left;position:relative;margin-left:14px;padding-top:14px;font-size:24px;color:#fff}
.inner_head .info{float:right;margin:14px 14px 0 0;padding:0 7px;border:1px solid rgba(255,255,255,0.4);border-radius:3px;color:#fff}

/* footer */
#dkFoot{width:100%;text-align:center;clear:both}
.footer_comm .txt_copyright{display:block;padding:28px 0 30px}
.footer_comm .link_daum{font-size:13px;font-family:Helvetica, sans-serif;color:#aaa;letter-spacing:0}

/* gnb */
.gnb_comm{position:relative;z-index:10;padding:18px 0 24px 22px}
.gnb_comm li{width:100%;padding:5px 0 6px}
.gnb_comm .link_gnb{display:block;height:31px;font-weight:bold;font-size:16px;color:#000}

.box_inptf{display:block;position:relative;padding:6px 16px;border:1px solid #e1e1e1;border-radius:4px;background-color:#fff}
.inp_comm{display:block;width:100%;height:36px;border:0 none;font-size:16px;line-height:36px;background:transparent;outline:0}
.alert-info{float:left;height:46px;padding:2px 15px}
.alert-info .txt{display:inline-block;padding:13px;font-weight:bold;color:#108980}
.btn_g{float:left;min-width:101px;height:46px;padding:0 22px;border:1px solid #15b7ab;border-radius:3px;line-height:45px;color:#fff;background-color:#15b7ab;text-align:center}
.btn_g:hover{background-color:#108980}

#mArticle .info_box{overflow:hidden;padding:20px 30px;border-bottom:1px solid #e9eaea}
.info_box .tit{margin-bottom:14px;font-size:20px}
.info_box .link_comm{display:inline-block;height:27px;margin:13px auto 0;padding:0 9px;border:1px solid #e0e0e0;border-radius:3px;font-size:13px;line-height:25px;background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.info_box .link_comm:hover{border-color:#15b7ab;color:#15b7ab}
.info_box .box{margin-top:20px}
.info_item{float:left;position:relative;width:700px;margin-bottom:30px}
.info_box .info_item{margin-bottom:20px}
.info_box .tit_lab{float:left;width:116px;height:50px;font-weight:normal;font-size:15px;line-height:50px}
.info_box .cont_item{float:left;width:584px}
.info_box .pl{display:inline-block}
#mArticle .info_lst{padding-bottom:250px;border-bottom:0;clear:both}
