@charset "utf-8";
#ollin-img-layer {
  position: absolute !important;
  top: 30px;
  left: 0;
  font-size: 0;
  line-height: 0;
  opacity: 0.5;
  z-index: 2147483645 !important;
}
#ollin-img-layer img {
  display: block !important;
}

#ollin-controller-toolbar {
  position: relative !important;
  position: fixed !important;
  top: 0 !important;
  left: 0px !important;
  z-index: 2147483647 !important;
  width: 100% !important;
  min-width: 320px !important;
  height: 29px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  font-size: 0;
  line-height: 0;
  font-family: 'Apple SD Gothic Neo', '굴림', gulim, sans-serif !important;
  color: #fff !important;
  background-color: #323138 !important;
}
#ollin-controller-toolbar .tit {
  margin-right: 5px !important;
  height: 29px !important;
  padding: 0 !important;
  font-weight: bold !important;
  line-height: 29px !important;
  font-size: 10px !important;
}
#ollin-controller-toolbar input[type='file'] {
  margin-left: 5px !important;
  font: caption !important;
  font-size: 10px !important;
  line-height: 1 !important;
  color: #fff !important;
  align-items: baseline !important;
  text-align: start !important;
}
#ollin-controller-toolbar input[type='range'] {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  vertical-align: middle;
  cursor: ew-resize !important;
}
#ollin-controller-toolbar .tools {
  display: inline-block !important;
  position: absolute !important;
  top: 5px !important;
  right: 15px !important;
}

#ollin-controller-toolbar .sw i.on {
  display: inline-block !important;
  width: 18px !important;
  height: 18px !important;
  margin-right: 4px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAWhAAAFoQHbyrQLAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFRQTFRF////YbZtYLV16+vrqM6z4uro3Oji3+nmYrhy4uvn5Ozp5OzqYbhyZbl1Zbp2vsPIyM3Q1ebc3+rl4Orm8fLz8/T18/b18/b29fb2+Pn5/f39////iN+3eAAAAAx0Uk5TABUYGS98hZev4/f39GeGuAAAAFBJREFUKFNjYBhQwMgEAyxs7DDAyszAwQMHguKSMCDGyYAQ5xWWRgBuJAk+ISQJLqIlpERFRKWwSUgI8AtIkCSB0yiSXIXmQZxBgjMQBxIAAB3sFY/ZyvYXAAAAAElFTkSuQmCC') !important;
  vertical-align: middle !important;
}
#ollin-controller-toolbar .sw i.off {
  display: inline-block !important;
  width: 18px !important;
  height: 18px !important;
  margin-right: 4px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAWhAAAFoQHbyrQLAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAE5QTFRF////ws7CysrK6+vr2dnZ6Ozs5urs5uvryMvI5+zs6Ozt6O3tvsPIx8rHyMvIyM3Q5Ojp6Ozs8fLz8/T19Pb29fb29ff3+Pn5/f39////IkyVeAAAAAx0Uk5TABUYGS98hZev4/f39GeGuAAAAExJREFUKFNjYBhIwMzKDgNsLEwwwMjAwCkiDgNiArxwwMHALYkAgnwIGQYusiQkhIWEJbBJiPLz8IuSJIHTKNJchdODOIMEZyAOJAAArr0U8/DNDmAAAAAASUVORK5CYII=') !important;
  vertical-align: middle !important;
}
/* #ollin-controller-toolbar .sw span{font-size:8px !important;} */

#ollin-controller-toolbar .tools i.opacity {
  display: inline-block !important;
  width: 14px !important;
  height: 14px !important;
  margin-right: 5px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhARUCOhR3nDLwAAABBElEQVQoz22QP0uCYRRHz6vSmxEZEk0hQRAO/S+iwYQa2mpqc02KaGzqA5RFe4EiNEgRaV9Cgpr6En2BxiBPg1KP2N3Oved378MTATjJGVk6JPjgIvqkv9zy3mlL7oMLPrvcP56w4aZr5hwBMG3L0VC4dsWGyaCz4ekfJcgyTzX6DjKvzIVCxBdvv+mUZWoUvDHlcLdVD5bnfHLX2DqYtuki4Ln53jjpg1lw22MAY2eMMeOjMYAH7oAZmw71IlNeAa7bdAmsmbJoy9ng6GEE4BhH5CnQ5p3b6CsQVsMfqTJQ3oWw949Q7MeT7nN7FHlpItFnvFAOqEA76gwuLVlz3IqVLv8A23h72oZ9JsAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMDEtMjFUMDI6NTg6MjArMDE6MDBKU9lkAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTAxLTIxVDAyOjU4OjIwKzAxOjAwOw5h2AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') !important;
  vertical-align: middle !important;
}
#ollin-controller-toolbar .tools i.mag {
  display: inline-block !important;
  width: 14px !important;
  height: 14px !important;
  margin-right: 5px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhARUGHDZmK1jsAAAA30lEQVQoz3XPPyjEYRgH8OeubqP8WWRiMKJsymC52aIMlFEZxUBZFKEMtrNZlVXCRFkU3XqDYjJId8NNyn0sv/O7V/2+2/d9P73P80ZEhIptD1peXZqN/zGhjo6GL/w4TK8rXlAzFBFhXgNrvWALtZ4+qqVtID+40zGYvHmAhW4rx2S8l5rJ1KeImMrBZwwrJWAkIj5yUI/+qCZgMSKe84nTvr0Z/+sbuEo/uoO2Y0vW3YBHK8q9ZFlTN9cuwHmymT5Vm1bNRJjL6FkUxW5GTovJfkb2iskJuI3iOHJv7BfGBabLuytzFQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wMS0yMVQwNjoyODo1NCswMTowMF1bi3sAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTctMDEtMjFUMDY6Mjg6NTQrMDE6MDAsBjPHAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==') !important;
  vertical-align: middle !important;
}

#ollin-opacity {
  width: 30px !important;
}
#ollin-opacity-text {
  display: inline-block !important;
  width: 16px !important;
  margin: 0 5px !important;
  font-size: 10px !important;
  vertical-align: middle !important;
}
#ollin-scale {
  width: 30px !important;
}
#ollin-scale-text {
  display: inline-block !important;
  width: 19px !important;
  margin: 0 5px !important;
  font-size: 10px !important;
  vertical-align: middle !important;
}
#ollin-btn {
  height: 29px !important;
  margin: 0 5px !important;
  padding: 0 !important;
  border: 0 !important;
  font: caption !important;
  line-height: 29px !important;
  color: #fff !important;
  background-color: transparent !important;
  cursor: pointer !important;
  outline: 0 !important;
  vertical-align: middle !important;
}

@media (max-width: 480px) {
  #ollin-controller-toolbar .tit {
    display: none !important;
  }
  #ollin-controller-toolbar input[type='file'] {
    width: 115px !important;
    margin-left: 0 !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  #ollin-controller-toolbar .tools i.opacity {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhARUDAgh1wLhzAAACgklEQVRIx42TT0iUURTFzzejNor2B9P+aQhaRGRFQxIOYhmRVgRGULqoTW0qiChCAoMWZUsXlWFgmyTSJCrCaKGIlhiMGm6cIEgjF6UDkenoTP1azDh+Ot83M3f13jv3nHfufe8aMgWr5ZFbbrk1La+88qrP+Ku4YZjop3RfaRqSV15lyi23dmhE54xhJQ7W0s4sV3FIEuujp08I0oArET2H7wywTZK4yR+gPIpVMcabRAIdfMBJPhUS2zlG0RJ0C7+5HI9eywxbyWCIhzYZZwiwy46ezRRXJFoZZaXtJU/psYOqmcJBDb/CPbDJKidIphXikFuDxj9VqsMYjVNnv+ZUZifgleTR+3htNubVqwNWSIrcaiFXheqzte/QTu1Xnnbj0ojxaLmDgNL1U5WGz5K8imZNyquzciqgPNWSQwqF5pQXNNrefZBxvBxnjUQXtyOnhQS5g3MhqZ5eG/otQtwlVZJwMcuhKFLBD14vbI4wbfX+VBKiyuRlngwTmseNhaULH00x9GwmaFhsIz28jMnJYl14UUaIZW9MK0Nh85LEdfxsihE4wVh4esUDfOSboFRmOBrdlTDHaYsis5mL9IUsevBTHYVKCZEVMX+NgO2QtfN4scp6gjSzF4dEHR8lUimjGz+1ts+8kRLz1sMnwE8HIwzzlmmCvIqtPW6Qy0nuMckXGjhsPX+m7AKeWQPNtCV13QV8DktkQPuSMrxHg9YC/cplRRICQb2zM1eUBF044oHFbIhLzqAuOpGWCY2MmX/nMjSVTnykxxNw0cXn8H+0lJ+gIFGFmbSx2bpyLlKcTJckUco32jmPU8JNE+N0J0mNCKRRQwtf8Ug8p5NLS139BzYggC0etYWQAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE3LTAxLTIxVDAzOjAyOjA4KzAxOjAwgHp1cAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNy0wMS0yMVQwMzowMjowOCswMTowMPEnzcwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC') !important;
    background-size: 14px 14px !important;
  }
  #ollin-controller-toolbar .tools i.mag {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhARUGHQi+UXQGAAAB9ElEQVRIx52Vv2sUQRTHv7OHGrETJJYKwZ9IQi4IykX/CAsRrAQFCwkEBG0CgqiF2AhqYVJFG3+coGAEwSgcJkKuCSISTcCkEFTQBDnF6Mci4zI7O7OX9VW7833vM2/fvHlrlDGq6lOverVDs5pSU1OaMGh1Rif3yNtTtqwu/AifCdsSJzHtwkecgBavGKXBkrP2iKQo/HDq+JoDVOxqQpXJVDkdD9/EJwB+c4l1nlbhDD8B+MHuGOCO3eNyRB+0evNfbll5j5VnWB8BJDSsz768mqjPPg2YVhhg/ui4fTwY4l8FYDm2v/X6CMDjkLSS3rQKjTEAFvP9kGibJOltMUDvVr4m39aJZiTJYuLWJUlaCBWxKUnaVVwD9bQDVNRfUIHt6pQkfQiJ3faM3/hdmHoYxq3P/rDDAytfjABOWX0sluBmvtheOMdaT0sYpGUBe+PfeDS9c9P0p7fRUOVlqsyzsaDI3Hbu/nca3GScb95g+coi99kQQ5zIDBDXlqk7b8+iB85WngfC6+yUeOGsPHHPK9PbGPWopppq6tCcZjWnupmQJCbllvChDplfKmMc8/K6GxwuhYghD3GrcMwGERc8xEjbYZ9DXPEQ10sCJK55iKGyAMNwBvC+fA4Jow7gbGmARCX9k5z/j3BJYg03mGdAkv4CLetI7PfFNpQAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMDEtMjFUMDY6Mjk6MDgrMDE6MDA92YRVAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTAxLTIxVDA2OjI5OjA4KzAxOjAwTIQ86QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') !important;
    background-size: 14px 14px !important;
  }
  #ollin-controller-toolbar .sw i.on {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA8EAAAPBAHojKZiAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAANJQTFRF////39/fYrF2Yrxx5+3t5Orv6O3t6OzsYrpxYLhx5u3t6O3t6OvuismYYrlzYbhy5+3t2ujh5+ztYbhy5+vt6O3uYbhyZbp2ms6mr7a7sbi9sri9t9nBub/EvMLGwt7LxcrOyM3QzdLV0NTX0ePZ09fa2d3f3N/h4uTm5Obo5efp5+nr5+zt6O3u6u/v6+/w6/Dw7PDx7e/w7u/w8PHy8fT18vP08/T19Pb39vb39/f49/j4+Pn5+Pn6+vv7+/v8+/z8/Pz8/Pz9/f39/v7+////0dV7qAAAABZ0Uk5TAAgNIiowOEJGSFNXWF6Vs7TP4Ofr+iQJIOsAAAC0SURBVFjD7dZHEsIwDEBR0XuHgEIndEQLvZfg+1+JE9iLGAYY9Pb6O40EwBj7Ef5oXCYW9AAAgC8ckUpkSCUbAvCmDLlim2gyk5kSFQKQVMwbJRqfhZwzpzTkVIEKrYTKifKgmjfqtFUGrkQc+LeAYz/E4iLWB7cBC4cDtHZmzW2gid0eNpZocuCDgQ72R9g6lqtuAzdbCPsuNvvf3QUOvC+gfdq0j6v2edd+MF7w4jDGvsIT4r1q20EpGR4AAAAASUVORK5CYII=') !important;
    background-size: 18px 18px !important;
  }
  #ollin-controller-toolbar .sw i.off {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAA8EAAAPBAHojKZiAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAANJQTFRF////39/fxMTEy8vL5+3t5Orv6O3t6OzsyMjIxsrG5u3t6O3t6Ovu0dTRx8rHx8rH5+3t5Onp5+ztx8rH5+vt6O3ur7a7sbi9sri9ub/EvMLGxcrOx8rHyMvIyM3QzdLV0NTX09fa1djX2d3f2+Df3N/h3uPi4uTm4ubn5Obo5efp5+nr5+zt6O3u6u/v6+/w6/Dw7PDx7e/w7u/w8PHy8fT18vP08/T19Pb39vb39/f49/j4+Pn5+Pn6+vv7+/v8+/z8/Pz8/Pz9/f39/v7+////krPR0wAAABZ0Uk5TAAgNIiowOEJGSFNXWF6Vs7TP4Ofr+iQJIOsAAACzSURBVFjD7dZHEsIwDIVh0XsHhxIg9CZa6L0E3f9KnMBmiBdkGH17/zvPEwBjzDN84URSJh78/D6SR5VcKiYVDQBAqIQ4X8jMEId1Uy7jhywuHZK7TrGtCJhpKOKFVDbYVQUKgHhXBvbYVwVMDvxh4Lijp01kP9wGKuVzU0wGouU2YIh1TfQ6osGBHwaqxsESo7Gw3AZOW7qt6GU7/Bs58GVAe9q0x1V73rUPDP0ThzHmDW82rYCbjhVxKgAAAABJRU5ErkJggg==') !important;
    background-size: 18px 18px !important;
  }
}
